/*color codes #dddfd4 #fae596 #3fb0ac #173e43*/

/*sets the padding and margin all tag to 0*/
*{
	padding:0; /*space inside a tag*/
	margin: 0; /*space outside a tag*/
}

body{
	background-color: #eee; /*set background color for body to pink*/
	color: #fff; /*set font color to white*/
}

a{
	color:#e62739;
	text-decoration: none;
}

.logo{
	float: left;
	margin-left:50px;
	padding: 5px;
}

.menu{
	background-color: #55585d;
	height: 90px;
	padding-right: 50px;
}
.menu li{
	float:right;
	list-style: none;
	margin-top: 15px;
}

.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	font-size: 18px;
}

.menu li a:hover,.menu li a.active{
	background-color:#4d5256;
}

.menu li a.active{
	color:#fae596;
}
.menu li a.active:after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  left: 0;
  right:0;
  background: #fae596;
  height: 4px;	
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fae596;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.banner{height: 500px;position: relative;}
.banner li{width:100%;float: left;display: none;}
.banner li:first-child{display: block;}
.banner li img{
	width:100%;
}
.prev,.next{cursor:pointer;display: inline-block;color:#fae596;font-weight: 400;font-size: 18px;position: absolute;top:50%;z-index: 999;}
.prev{left:5%;}
.next{right:5%;}